.btn {
  width: 100%;
  border: 3px solid rgb(255, 255, 255);
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(255, 250, 250);
  font-weight: bold;
  padding: 0.5rem;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
}

.btn.inactive {
  opacity: 0.3;
  color: rgb(255, 255, 255);
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}
